<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ChatoriApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chatori"
        tools:targetApi="31">

        <!-- Splash Activity (Entry Point) -->
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Chatori.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Activities -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Chatori.NoActionBar" />
        <activity
            android:name=".ui.auth.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.Chatori.NoActionBar" />

        <!-- Main Activity -->
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Chatori.NoActionBar" />

        <!-- Stall Activities -->
        <activity
            android:name=".ui.stall.StallDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Chatori.Toolbar" />
        <activity
            android:name=".ui.stall.AddStallActivity"
            android:exported="false"
            android:theme="@style/Theme.Chatori.Toolbar" />

        <!-- Review Activities -->
        <activity
            android:name=".ui.review.WriteReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Chatori.Toolbar" />
        <activity
            android:name=".ui.review.AllReviewsActivity"
            android:exported="false"
            android:theme="@style/Theme.Chatori.Toolbar" />

        <!-- Profile Activities -->
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Chatori.Toolbar" />
            
        <!-- Search Activities -->
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.Chatori.Toolbar" />

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

    </application>

</manifest>